<div class="example-div1">
    <div class="example-div2">
        <div class="example-div3">
            <div class="example-div4">
                <mat-card class="container">
                    <mat-card-content>
                        <h1 style="text-align:center">欢迎来到侠的CartoonWeb</h1>
                        <p class="example-p">{{message[0]}}</p>
                        <p class="example-p">{{message[1]}}</p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="container">
                    <mat-card-content>
                        <h1 style="text-align: center;">致谢</h1>
                        <p class="example-p">{{message[2]}}</p>
                        <p class="example-p">{{message[3]}}</p>
                        <p class="example-p">{{message[4]}}</p>
                    </mat-card-content>
                    </mat-card>
            </div>
        </div>
    </div>
</div>     