<!-- 本组件的html文件主要实现以下功能 -->
<!-- 1.实现用户通过用户名或者邮箱名找回密码 -->
<!-- 2.有返回登陆和注册界面的路由功能 -->

<div class="example-div1">
    <mat-card class="example-mat-card">{{content}}</mat-card>
      <mat-vertical-stepper linear=true #stepper class="example-mat">
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>基本信息确认</ng-template>
              <mat-form-field>
                  <input #emailer matInput placeholder="请输入您的邮箱地址" formControlName="firstCtrl" required email>
                  <mat-error *ngIf="firstFormGroup.controls.firstCtrl.hasError('email')">
                    请输入正确的邮箱地址</mat-error>
              </mat-form-field>
                <div>
                  <button mat-button matStepperNext (click)="email(emailer.value)" >下一步</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>验证信息</ng-template>
                <mat-form-field>
                  <input #checknum matInput placeholder="验证码" formControlName="secondCtrl" required>
                  <mat-hint *ngIf="flag" class="example-hint"> 验证码输入正确</mat-hint>
                </mat-form-field>
                <button mat-button (click)="check(checknum.value)"
                [disabled]="secondFormGroup.controls.secondCtrl.hasError('required')" >提交验证码</button>
                <div>
                  <button mat-button matStepperNext [disabled]="!flag">下一步</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup">
              <ng-template matStepLabel>密码修改</ng-template>
              <form [formGroup]="thirdFormGroup">
              <mat-form-field>
                <input #passwordinput  type="password" matInput placeholder="请输入您的密码"  
                  formControlName="userprepassword" required minlength="6"><!-- 通过模板变量获取值 -->
      
                <!-- 错误信息的设置 -->
      
                <mat-error *ngIf="thirdFormGroup.controls.userprepassword.hasError('minlength')">
                    至少输入6位及6位以上的密码</mat-error>
                  
              </mat-form-field>
              <mat-form-field>
                <input   type="password" matInput placeholder="请确认您的密码" 
                formControlName="userpostpassword" required isSame >
                <mat-error *ngIf="thirdFormGroup.controls.userpostpassword.errors">
                两次输入的密码不一致请修改</mat-error>
            </mat-form-field>
              <div>
                <button mat-button matStepperNext (click)="change(passwordinput.value)" >下一步</button>
              </div>
            </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel >完成</ng-template>
                恭喜您完成了密码的修改.
              <div>
                <a  
                routerLink="/main-page"
                mat-button matStepperPrevious >返回主页</a>
              </div>
            </mat-step>
          </mat-vertical-stepper>
</div>