<div class="example-div1">
    <div class="example-div2">
        <div class="example-div3">
            <div class="example-div4">
                <mat-card class="container">
                    <h3 style="text-align: center;">秒速五厘米</h3>
                </mat-card>
                <mat-card class="container">
                    <mat-card-content >
                        <img mat-card-image src="http://chuantu.xyz/t6/703/1573656356x992245926.png" >  
                    </mat-card-content>
                </mat-card>
                    <mat-card class="container">
                        <mat-card-content >
                          <p class="example-p" *ngFor="let message1 of mymessage1">
                              {{message1}}
                          </p>
                        </mat-card-content>
                    </mat-card>
                <mat-card class="container">
                        <mat-card-content >
                            <img mat-card-image src="http://chuantu.xyz/t6/703/1573656391x977013264.png" >  
                        </mat-card-content>
                </mat-card>
                <mat-card class="container">
                        <mat-card-content >
                          <p class="example-p" *ngFor="let message2 of mymessage2">
                              {{message2}}
                          </p>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="container">
                        <mat-card-content >
                            <img mat-card-image src="http://chuantu.xyz/t6/703/1573656428x992245975.png" >
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="container">
                            <mat-card-content >
                              <p class="example-p" *ngFor="let message3 of mymessage3">
                                  {{message3}}
                              </p>
                    </mat-card-content>
                    </mat-card>
                    <mat-card class="container">
                            <mat-card-content >
                              <h3 style="text-align: center;">评论</h3>
                    </mat-card-content>
                    </mat-card>
                    <mat-card class="container" *ngFor="let user of remarks">
                            <mat-card-subtitle>{{user.userusename}}</mat-card-subtitle>
                            <hr/>
                            <mat-card-content >
                                <p>{{user.userremark}}</p>
                            </mat-card-content>
                    </mat-card>
                    <mat-card class="container" *ngIf="user" >
                        <mat-form-field class="example-input" >
                            <mat-label>评论</mat-label>
                            <textarea matInput #words
                                            cdkTextareaAutosize
                                              #autosize="cdkTextareaAutosize"
                                              cdkAutosizeMinRows="1"
                                              cdkAutosizeMaxRows="7"></textarea>           
                            </mat-form-field>
                            <button mat-button (click)="add(user.userusename,words.value);words.value=''">提交</button>
                    </mat-card>
                    <mat-card class="container" *ngIf="!user" >
                            <mat-card-content >
                                <a mat-button routerLink="/main-page">请返回首先登陆进行评论</a>
                            </mat-card-content>
                    </mat-card>
            </div>
        </div>
    </div>
</div>     